###############################################################################################################################
# GIT IGNORE CONFIGURATION FILE
###############################################################################################################################

# Archivos del sistema (macOS)
**/.DS_Store


# Archivos temporales y de respaldo
**/*.log
**/*.tmp
**/*.bak
**/*.swp

# Archivos de R (en cualquier nivel)
**/.RData
**/.Rhistory
**/*.rds


# Archivos de Python (en cualquier nivel)
**/__pycache__/
**/*.pyc
**/venv/
